<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Rick and Morty</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jscode.js"></script>
</head>
<body>
    <div class="div_content">
        @RenderBody()
    </div>
</body>
</html>
